@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --soft-blue-color: hsl(215, 51%, 70%);
    --cyan-color: hsl(178, 100%, 50%);
    --main-bg-color: hsl(217, 54%, 11%);
    --card-bg-color: hsl(216, 50%, 16%);
    --line-color: hsl(215, 32%, 27%);
    --white-color: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
    font-family: 'Outfit', sans-serif;
}

main {
    background-color: var(--card-bg-color);
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.085);
    padding: 24px;
}

.main-img {
    max-width: 100%;
    border-radius: 10px;
}

h1 {
    color: var(--white-color);
    font-size: 22px;
    padding: 20px 0 16px 0;
}

.main-p {
    color: var(--soft-blue-color);
    font-size: 18px;
    line-height: 26px;
    opacity: 0.8;
}

.details {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}

.amount {
    display: flex;
    align-items: center;
}

.amount-img-ethereum {
    padding: 0 6px 0 0;
}

.amount-img-clock {
    padding: 0 8px 0 0;
}

.amount-p-ethereum {
    color: var(--cyan-color);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
}

.amount-p-clock {
    color: var(--soft-blue-color);
    font-size: 16px;
    padding: 0 2px 0 0;
}

.divider {
    background-color: var(--line-color);
    height: 1px;
    opacity: 0.7;
}

.creator {
    display: flex;
    align-items: center;
    padding: 16px 0 8px 0;
}

.creator-img {
    width: 33px;
    border: solid 1px var(--white-color);
    border-radius: 50%;
    margin-right: 16px;
}

.creator-p {
    color: var(--soft-blue-color);
    font-size: 16px;
    padding: 0px 0 2px 0;
}
}

.creator-p-span {
    color: var(--white-color);
    letter-spacing: 0.2px;
    padding: 0 2px;
}

span:hover {
    color: var(--cyan-color);
    cursor: pointer;
}
